doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/app.a0bab80fc8c531d4edd67ff07dbf880b.css')
  body
    #app
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="/static/js/manifest.8d11d8c365eb82946445.js")
    script(src="/static/js/vendor.f99fb5e8596a6b214a6b.js")
    script(src="/static/js/app.3cae711bd47a709e3f26.js")
