doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/app.a0bab80fc8c531d4edd67ff07dbf880b.css')
  body
    #app
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="/static/js/manifest.e49d5e638e882228c2ef.js")
    script(src="/static/js/vendor.349cc94d58f8b9fb9fce.js")
    script(src="/static/js/app.e172d8d1f61c9ff3b67b.js")
